# Server
PORT=3000
NODE_ENV=development


MONGODB_URI=
CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
CELO_CHAIN_ID=11142220
AGENT_PRIVATE_KEY=
PLATFORM_AGENT_ID=1

# Contract Addresses
VAULT_ADDRESS=0x1aee9C55884Ea224CaD56061ee21FBdbe39F510F
CUSD_ADDRESS=0xAd9a854784BD9e8e5E975e39cdFD34cA32dd7fEf
IDENTITY_REGISTRY=0x8004A818BFB912233c491871b3d84c89A494BD9e
REPUTATION_REGISTRY=0x8004B663056A597Dffe9eCcC1965A193B7388713

# Gemini AI
GEMINI_API_KEY=


# Security
CORS_ORIGIN=http://localhost:3001
JWT_SECRET=
JWT_EXPIRES_IN=7d
AUTH_MESSAGE_TEMPLATE="Sign this message to authenticate with PulseRemit.\n\nNonce: {nonce}\nTimestamp: {timestamp}"

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100